<!-- Sidebar -->
<aside>
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('lord_rattery_index') }}">
            <i class="fas fa-fw fa-users"></i>
            <span>Liste des rateries</span>
            </a>
        </li>
    </ul>
</aside>