{#
   This is the base template of the all backend pages. Since this layout is similar
   to the global layout, we inherit from it to just change the contents of some
   blocks. In practice, backend templates are using a three-level inheritance,
   showing how powerful, yet easy to use, is Twig's inheritance mechanism.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
{% extends 'base.html.twig' %}

{% block header %}
{{ include('admin/_header.html.twig') }}
{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row">
      <div class="col-md-2">
         {{ include('admin/_sidebar.html.twig') }}
      </div>
      <div class="col-md-10">
         <main id="content-wrapper">
            <div class="container-fluid">
               {% block main %}{% endblock %}
            </div>
         </main>
      </div>
   </div>
</div>
   {% block footer %}
   <!-- Sticky Footer -->
   <footer class="sticky-footer">
   <div class="container my-auto">
      <div class="copyright text-center my-auto">
         <span>Copyright © LORD <?= date('Y'); ?></span>
      </div>
   </div>
   </footer>
   {% endblock %}
{% endblock %}
