html
{
	background-color: #babebc;
}

body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 1200px;
	font-size: 0.70em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
	text-align: center;
}

#menu
{
	position: absolute;
	top:0;
	width: 1200px;
	height: 155px;
	background-image: url("banniere.png");
	background-position: center top;
	background-repeat: none;
}

#menu a
{
	display: block;
	color: #955b44;
	font-weight: bold;
	font-size: 0.80em;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none;
}

#menu a:hover
{
	text-decoration: underline;
}

#box1
{
	position:absolute;
	top: 15px;
	left: 20px;
	height: 120px;
	width: 110px;
}

#box2
{
	position:absolute;
	top: 15px;
	left: 140px;
	height: 120px;
	width: 110px;
}

#box3
{
	position:absolute;
	top: 15px;
	left: 260px;
	height: 120px;
	width: 110px;
}

#box4
{
	position:absolute;
	top: 15px;
	left: 380px;
	height: 120px;
	width: 110px;
}

#box5
{
	position:absolute;
	top: 0px;
	left: 500px;
	height: 155px;
	width: 200px;
}

#box6
{
	position:absolute;
	top: 15px;
	left: 710px;
	height: 120px;
	width: 110px;
}

#box7
{
	position:absolute;
	top: 15px;
	left: 830px;
	height: 120px;
	width: 110px;
}

#box8
{
	position:absolute;
	top: 15px;
	left: 950px;
	height: 120px;
	width: 110px;
}

#box9
{
	position:absolute;
	top: 15px;
	left: 1070px;
	height: 120px;
	width: 110px;
}

#corps
{
	text-align: left;
	border: solid 1px #955b44;
	margin-top: 100px;
	padding-top: 60px;
	background-color: white;
	min-height: 400px;
}

#corps .art
{
	margin-left: 200px;
	margin-right: 200px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px #7b5239;
	border-right: solid 1px #7b5239;
}

#corps h1
{
	color: #7b5239;
	text-align: center;
}

.form_connexion td
{
	padding-top: 15px;
}

#pied
{
	color: #955b44;
	font-weight: bold;
	font-size: 0.65em;
}

#pied a
{
	color: #955b44;
}

/* Scripts */

#container {
}

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav a {
	display: block;
}

#nav li {
	float: left;
	width: 108px;
}

#list1
{
	position:absolute;
	top: 120px;
	right: 1070px;
	background-color: #f4d0bb;
	border: solid 1px #955b44;
	border-top: none;
}

#list2
{
	position:absolute;
	top: 115px;
	right: 950px;
	background-color: #eebea1;
	border: solid 1px #955b44;
	border-top: none;
}

#list3
{
	position:absolute;
	top: 115px;
	right: 830px;
	background-color: #dca37d;
	border: solid 1px #955b44;
	border-top: none;
}

#list4
{
	position:absolute;
	top: 115px;
	right: 710px;
	background-color: #cc896c;
	border: solid 1px #955b44;
	border-top: none;
}

#list5
{
	position:absolute;
	top: 115px;
	right: 380px;
	background-color: #cc896c;
	border: solid 1px #955b44;
	border-top: none;
}

#list6
{
	position:absolute;
	top: 115px;
	right: 260px;
	background-color: #dca37d;
	border: solid 1px #955b44;
	border-top: none;
}

#list7
{
	position:absolute;
	top: 115px;
	right: 140px;
	background-color: #eebea1;
	border: solid 1px #955b44;
	border-top: none;
}

#list8
{
	position:absolute;
	top: 115px;
	right: 20px;
	background-color: #f4d0bb;
	border: solid 1px #955b44;
	border-top: none;
}

#nav li ul {
	position: absolute;
	width: 108px;
	
	-webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);

	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out;
	-ms-transition: -ms-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

#nav li:hover ul {
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

#nav li:hover ul, #nav li.sfhover ul {
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

/* Design des liens */
a
{
	color:#8795E8;
	text-decoration: none;
}

a:hover
{
	color:#666666;
	text-decoration: underline;
}

/* Design des formulaires */
label
{
	font-weight: 700;
	font-size: 1.2em;
	padding: 7px 5px 7px 5px;
	display: inline-block;
}

input[type="submit"],input[type="button"]
{
	background-color: #7b5239;
	border-color: #7b5239;
	color: #FFFFFF;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	font-weight: 700;
}

input[type="text"],input[type="password"],textarea,select
{
	border-color: #7b5239;
	padding: 5px;
	box-sizing: border-box;
	margin-left: 5px;
}

fieldset
{
	border-color: #7b5239;
}

fieldset legend
{
	font-size: 1.4em;
}

/* Modification des boutons radio (Source : https://jeanbaptistemarie.com/notes/code/css/creer-vos-boutons-radio-personnalises-en-css.html)*/
/* Masquer le bouton radio d'origine */
input[type=radio]{
    display: none;
}
/* Affichage par défaut du bouton radio personnalisé */
input[type=radio] + label:before {
    background: #ffffff;
    border: 2px groove #7b5239; 
    border-radius: 50%;
    margin-top: -3px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
	transition: all .5s;
}
/* Affichage du bouton radio personnalisé quand il est sélectionné */
input[type=radio]:checked + label:before {
    background: #cc896c;
    box-shadow: inset 0px 0px 0px 4px #ffffff;
}

/* Design des tableaux */

.table-blue{
	width:100%;
}

.table-blue thead th{
	background-color: #6699ff;
}

.table-blue tbody td{
	background-color: #F4F4F4;
}

.table-centered{
	text-align:center;
}