{% extends 'base.html.twig' %}

{% block title %}Homepage du front{% endblock %}

{% block body %}
    <h1>Bienvenue sur le front</h1>

    <a href="{{ path('admin') }}">Admin (intégré à symfony)</a>

    <a href="http://localhost:8080">Admin extérieur, interrogeant une API</a>
{% endblock %}