{% extends 'base.html.twig' %}

{% block title %}Homepage du front{% endblock %}

{% block body %}
    <h1>Bienvenue sur le front</h1>

    <a href="{{ path('admin') }}">Admin</a>

    <a href="{{ path('login') }}">login</a>
    <a href="{{ path('logout') }}">logout</a>

    <a href="{{ path('user_registration') }}">Créer un compte</a>
{% endblock %}