<form method="post" action="{{ path('lord_rattery_delete', {'ratteryId': lord_rattery.ratteryId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lord_rattery.ratteryId) }}">
    <button class="btn">Delete</button>
</form>
