.custom-textarea
{
	margin-top: 5px;
	min-height: 100px;
	height: auto;
	overflow: auto;
	text-align:left;
}

.bg-lord
{
	background-color: #f7cfb0;
}

.navbar-light .navbar-brand
{
	color: #845436;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link
{
	color: #845436;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link
{
	color: #845436;
	font-weight: bold;
}

.btn-lord
{
	background-color: #845436;
	color: #FFF;
}

.btn-lord:active,
.btn-lord:hover
{
	background-color: #613e28;
	color: #FFF;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f7cfb0;
}

/*.navbar-default
{
	background-color: #f7cfb0;
	border-color: #845436;
}

.navbar-default .navbar-brand
{
	color: #845436;
	font-weight: bolder;
}

.navbar-default .navbar-nav > li > a
{
	color: #845436;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
	background-color: #f2a268;
	border-right: 1px solid #845436;
}

.nav-second-level > li
{
	border-top: 1px solid #845436;
	padding-left: 50px;
}

.nav-second-level > li > a
{
	color: #845436;
	font-weight: bold;
}

.nav-second-level > li > a:focus,
.nav-second-level > li > a:hover
{
	color: black;
	background-color: #f7cfb0;
	border-right: 1px solid #845436;
}

.navbar-fixed-left
{
	position: fixed;
	left:0px;
	top:50px;
	width: 200px;
	border-radius: 0px;
	border: none;
	border-right: 1px solid #845436;
}

.navbar-fixed-left > ul > li
{
	width: 200px;
	border-bottom: 1px solid #845436;
}

.navbar-right
{
	margin-right: 15px;
}*/

h1,h3
{
	text-align:center;
}

.table
{
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
}

.table > tbody > tr > td, .table > thead > tr > th
{
	text-align:center;
	vertical-align: middle;
}

.clicable
{
	cursor: pointer;
}

.smooth-box
{
	border-radius:4px;
	box-shadow: 1px 1px 12px #555;
}

.fancy-checkbox > [type="checkbox"],
.fancy-checkbox > label{
	margin-bottom:0px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fancy-checkbox > [type="checkbox"]:not(:checked),
.fancy-checkbox > [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.fancy-checkbox > [type="checkbox"]:not(:checked) + label,
.fancy-checkbox > [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 22px;
	cursor: pointer;
}
.fancy-checkbox > [type="checkbox"]:not(:checked) + label:before,
.fancy-checkbox > [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; 
	top: 50%;
	margin-top:-9px;
	width: 17px; 
	height: 17px;
	border: 1px solid #ddd;
	background: #ffffff;
	border-radius: 2px;
}
.fancy-checkbox > [type="checkbox"]:not(:checked) + label:after,
.fancy-checkbox > [type="checkbox"]:checked + label:after {
	font: normal normal normal 12px/1 'Glyphicons Halflings';
	content: '\e013';
	position: absolute;
	top: 50%;
	margin-top:-7px;
	left: 2px;
	color: #94C947;
	xtransition: all .2s;
}

.fancy-checkbox > [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.fancy-checkbox > [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

.fancy-checkbox > [type="checkbox"][data-indeterminate] + label:after,
.fancy-checkbox > [type="checkbox"][data-indeterminate] + label:after {
	content: '\2212';
	left: 2px;
	opacity: 1;
	transform: scale(1);
}

.fancy-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
.fancy-checkbox > [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: not-allowed;
	opacity: 1;
	color: #dadada;
}
.fancy-checkbox > [type="checkbox"]:disabled:checked + label:after {
  color: #dadada; cursor: not-allowed;
}
.fancy-checkbox > [type="checkbox"]:disabled + label {
  color: #aaa; cursor: not-allowed;
}
.fancy-checkbox > [type="checkbox"]:checked:focus + label:before,
.fancy-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
	border: 1px solid #66afe9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.fancy-checkbox > label:hover:before {
	border: 1px solid #88D2FF !important;
}
.fancy-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
.fancy-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
	border: 1px solid #E4E4E4 !important;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* Auto extend des div éditables */
div[contenteditable],
div[contenteditable=true],
div[contenteditable="true"]{
	margin-top: 5px;
	min-height: 200px;
	height: auto;
	overflow: auto;
	text-align:left;
}

